<div class="card-body"> 
<% Event.all %>



<div class="jumbotron" style="text-align: center">
<div class="container">
<h1> <a class="display-4" style="color:rgb(255,255,255)" >EVENTBRITE </a> </h1>
<h2> <a class="display-4" style="color:rgb(255,255,255)" >Le site exclusif des meilleurs events !</a> </h2>
</div>


</div>