<div class="card-body"> 
<% Event.all %>



<div class="jumbotron" style="text-align: center">
<div class="container">
<h1> <a class="display-4" style="color:rgb(255,255,255)" >EVENTBRITE </a> </h1>
<h2> <a class="display-4" style="color:rgb(255,255,255)" >Le site exclusif des meilleurs events !</a> </h2>
</div>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://duberguenardaupebroque.files.wordpress.com/2013/03/les-compagnons-du-boitchu-defendent-la-veritable-saucisse-de-montbeliard-fj.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">La Fête de la saucisse</h5>
      <p class="card-text">La Fête de la Saucisse se prépare. La Confrérie Gourmande et Joviale de la Saucisse à Grenade fêtera son 20° anniversaire, dimanche 20 mai. Comme chaque année, le chapitre se tiendra à la salle des fêtes de Grenade.</p>
      <p class="card-text"><small class="text-muted">Mardi 23 Decembre 2019</small></p>
      <button type="button" class="btn btn-dark">Voir l'event</button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.southwesttimes.com/wp-content/uploads/2018/05/Chief-Boyd-horizontal.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Bal des Pompiers de Brive la Gaillarde</h5>
      <p class="card-text">Au programme : bonne humeur, accueil chaleureux, ambiance de village, bal populaire...</p>
      <p class="card-text"><small class="text-muted">Samedi 21 Novembre 2019</small></p>
      <button type="button" class="btn btn-dark">Voir l'event</button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://data0.eklablog.com/evelaw/mod_article5528311_5.jpg?4531" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Fêtes des Berlouffes a Wattrelos</h5>
      <p class="card-text">La fête des Berlouffes est la plus grande manifestation populaire de Wattrelos. Elle commémore un épisode sanglant des guerres de religions ...</p>
      <p class="card-text"><small class="text-muted">Samedi 28 Novembre 2019</small></p>
      <button type="button" class="btn btn-dark">Voir l'event</button>
    </div>
  </div>
</div>




</div>