<div class="card-body"> 
<% Event.all %>



<div class="jumbotron" style="text-align: center">
<div class="container">
<a class="display-4" style="color:rgb(255, 250, 250)" >Voila tous les events de ta ville </a>
</div>


</div>