<h2 style="text-align:center;">Crée ton event </h2>

<div class="card mb-3">
  <img class="card-img-top" src="https://www.ucb.ac.uk/content/images/courses/hospitality-tourism-events/events-management-3.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">A toi de jouer et de créer le prochain event du siecle !</h5>
    <p class="card-text">Choisis d'abord la ville ou tu veux organiser un new event.</p>
   

    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Ville</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    <option value="1">Lille</option>
    <option value="2">Paris</option>
    <option value="3">Aix-en-provence</option>
    <option value="4">Marseille</option>
    <option value="5">Nantes</option>
    <option value="6">Lyon</option>
    <option value="7">Bordeaux</option>
    <option value="8">Montpellier</option>
  </select>

  <button type="button" class="btn btn-outline-secondary">Entrer</button>
</div>
  </div>
</div>